// app global css in SCSS form

// @import 'node_modules/bootstrap/scss/bootstrap';
// @import 'node_modules/bootstrap-vue/src/index.scss';

.text-mono {
    font-family: 'IBM Plex Mono', monospace;
}

.filename-col {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 30vw;
}

.thumbnail-col {
    width: 48px;
    padding-right: 0 !important;
}